{% extends "layout.njk" %}

{% block pageContent %}
    <br>
    <div class="container text-center">
        <h1>K-State Annual Game Jam</h1>
        <div class="row">
            <div class="col-md-4 col-sm-3 col"></div>

            {% for gameJam in gameJams %}
                <div class="col">
                    <div class="btn-container col">
                        <button class="btn btn-success showGameJamSectionBtn">{{gameJam.year}}</button>
                    </div>
                </div>
            {% endfor %}

            <div class="col-md-4 col-sm-3 col"></div>
        </div>
        <div id="gameJamContent">
            <br>
            <br>

            {% for gameJam in gameJams %}
                <div id="gameJam{{gameJam.year}}" class="gameJamSection">

                    {% if gameJam.theme %}
                        <div class="theme-container">
                            <h2>
                                <b>Theme</b>
                            </h2>
                            <hr class="hr-primary">
                            <span class="theme-text">{{gameJam.theme}}</span>
                        </div>
                    {% endif %}

                    {% if gameJam.countdown %}
                        <countdown to="{{gameJam.countdown.to}}" btn-id="{{gameJam.countdown.btnId}}"></countdown>

                        {% if gameJam.countdown.btnId %}
                            <div class="btn-container col">
                                <button id="{{gameJam.countdown.btnId}}" class="btn btn-success">Sign Up</button>
                            </div>
                        {% endif %}

                    {% endif %}

                    <br>
                    <br>

                    {% if gameJam.sponsors %}
                        <div class="sponsors-container">
                            <h2>Sponsors</h2>
                            <hr class="hr-primary">
                            <div class="row">

                                {% for sponsor in gameJam.sponsors %}
                                    <div class="col">
                                        <a href="{{sponsor.siteUrl}}" target="_blank">
                                            <img class="vertical-center sponsor-img" src="{{sponsor.imgUrl}}" alt="{{sponsor.title}}">
                                        </a>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}

        </div>
    </div>
    <br>
{% endblock %}

{% block pageStyle %}
    <link href="{{_config.site.paths.styles}}/game-jam.css" rel="stylesheet">
{% endblock %}

{% block pageScript %}
    <script src="{{_config.site.paths.scripts}}/game-jam.js"></script>
{% endblock %}