{% extends "layout.njk" %}

{% block pageContent %}

    {% import "macros/portfolio-item.njk" as portfolioItem %}
    {% import "macros/officer-badge.njk" as officerBadge %}

    <header class="masthead">
        <div class="container">
            <img class="img-fluid rounded-circle logo-container" src="{{_config.site.paths.images}}/gdclogo.png">
            <div class="intro-text">
                <h1 class="name">K-State GDC</h1>
                <span class="description">
                    The GDC is a group in the pursuit of creating video games. We offer a constructive environment and multiple projects created by the members themselves. The GDC is open to anyone interested in the game development process whether it is programming, artwork, music, or marketing and public relations. For programming we can accommodate those that may not be experienced in programming with simpler projects and guidance from the more experienced members.
                </span>
            </div>
        </div>
    </header>

    <section id="featured">
        <div class="container text-center">
            <h2 class="mobile-header text-center">Featured</h2>

            {# <div class="row">
                <div class="col">
                    <button id="showFeaturedGamesBtn" class="btn btn-success featured-btn">Games</button>
                </div>
            </div> #}

            <div id="featuredContent">
                <hr class="hr-primary">
                <div id="featuredContent_games">
                    <div class="portfolio-content">
                        <div class="row">

                            {% for game in portfolio.games %}
                                <div class="col">
                                    {{portfolioItem.create(game, {_config:_config})}}
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success featured-btn show-more-btn">Show more</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="success" id="officers">
        <div class="container">
            <h2 class="mobile-header text-center">Meet the Team</h2>
            <hr class="hr-light">
            <div class="row">
                <div class="col-lg ml-auto">
                    <div class="row">

                        {% for officer in officers.row1 %}
                            <div class="col-sm-3 col-4">
                                {{officerBadge.create(officer, {_config:_config})}}
                            </div>
                        {% endfor %}

                    </div>
                    <div class="row">
                        <div class="col-1"></div>

                        {% for officer in officers.row2 %}
                            <div class="col">
                                {{officerBadge.create(officer, {_config:_config})}}
                            </div>
                        {% endfor %}

                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block pageStyle %}
    <link href="{{_config.site.paths.styles}}/pages.css" rel="stylesheet">
{% endblock %}

{% block pageScript %}
    <script src="{{_config.site.paths.scripts}}/pages.js"></script>
{% endblock %}