{% extends "layout.njk" %}

{% block pageContent %}
    <br>
    <section id="games">
        <div class="container text-center">
            {# <h2 class="mobile-header text-center">Games</h2> #}
            <div>
                {# <hr class="hr-primary"> #}
                <div class="row">

                    {% for game in portfolio.games %}
                        <div class="col">
                            <div class="portfolio-item">
                                <div class="portfolio-link portfolio-tile">
                                    <a href="{{game.hostUrl}}" target="_blank">
                                        <img class="portfolio-img img-fluid" src="{{game.imageUrls[0]}}" onerror="this.src='{{_paths.images}}/img-not-available.png'">
                                        <div class="overlay">
                                            <div class="overlay-text">
                                                <b>{{game.title}}</b>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col">
                            0 games found
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <br>
{% endblock %}